<div class="container_all_page">
  <div class="container_btn_student">
    <div>
      <h4>Student Portal</h4>
    </div>
    <div>
      <button class="btn btn-outline-success" (click)="openModel()">Add New</button>
    </div>
  </div>

  <div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New Student</h4>
        </div>
        <div class="modal-body">
          <div>
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Name" [(ngModel)]="studentObj.name">
          </div>

            <div>
              <label for="mobileNo">Mobile No</label>
              <input id="mobileNo" type="text" placeholder="Mobile" [(ngModel)]="studentObj.mobileNo">
            </div>
            <div>
              <label for="email">Email</label>
              <input id="email" type="text" placeholder="Email" [(ngModel)]="studentObj.email">
            </div>

          <div>
            <label for="city">City</label>
            <input id="city" type="text" placeholder="City" [(ngModel)]="studentObj.city">
          </div>
          <div>
            <label for="state">State</label>
            <input id="state" type="text" placeholder="State" [(ngModel)]="studentObj.state">
          </div>
          <div>
            <label for="pincode">Pin Code</label>
            <input id="pincode" type="text" placeholder="Pin Code" [(ngModel)]="studentObj.pincode">
          </div>

          <div>
            <div>
              <label for="address">Address</label>
              <textarea id="address" rows="3" placeholder="Address" [(ngModel)]="studentObj.address"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-bs-dismiss="modal" (click)="closeModel()">Close</button>
          <button *ngIf="studentObj.id === 0" class="btn" data-bs-dismiss="modal" (click)="saveStudent()">Save Student</button>
          <button *ngIf="studentObj.id !== 0" class="btn" data-bs-dismiss="modal" (click)="updateStudent()">Update Student</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="studentsList.length !== 0; else noRecords">
    <div class="container_all_cards">
      <p class="title_list_students">List of all students created</p>
      <div class="container_card" *ngFor="let item of studentsList; let i = index; trackBy: trackByFn">
        <div>
          <div class="card">
            <div class="card-header">
              <div>
                <div>{{ item.name }}</div>
                <div>{{ item.mobileNo }}</div>
              </div>
            </div>
            <div class="card-body">
              <p>{{ item.email }}</p>
              <p>{{ item.city }}, {{ item.state }}, {{ item.pincode }}</p>
              <p>{{ item.address }}</p>
            </div>
            <div class="card-footer">
              <div>
                <p>{{ item.email }}</p>
              </div>
              <div class="container_btn_card">
                <button class="btn" (click)="OnEdit(item)">Edit</button>
                <button class="btn" (click)="OnDelete(item)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noRecords>
    <div>
      <p>No record found, Create a new record</p>
    </div>
  </ng-template>
</div>
